<div class="m-auto w-full max-w-xs">
  <form action="/users/membership" method="POST" class="form">
    <div class="mb-6">
      <label class="label" for="secret">Enter secret key: </label>
      <input class="input" id="secret" type="password" name="secret" required />
    </div>
    <div class="flex items-center justify-center">
      <button class="btn" type="submit">Submit</button>
    </div>
  </form>
</div>
