<h2>Join the Club</h2>
<form action="/users/membership" method="POST">
  <div class="form-row">
    <div class="form-item">
      <label class="label-secret" for="secret">Enter secret key: </label>
      <input
        class="secret"
        id="secret"
        type="password"
        name="secret"
        required
      />
    </div>
  </div>
  <button>Submit</button>
</form>
